<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>groupie tracker</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/error.css">
  </head>

  <body>
    <h1>Groupie-Tracker</h1>
      <div class="error-title">Oops! Something went wrong</div>
      <div class="error-details">{{.Details}}</div>
     
      <div class="footer">
         <div class="actions">
        <a href="/">Home</a>
      </div>
      </div>
    </div>
  </body>
</html>